@font-face {
    font-family: 'aiharahudemojikaishoregular';
    src: url('aiharahudemojikaisho3.00-webfont.woff2') format('woff2'),
         url('aiharahudemojikaisho3.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}