@font-face {
    font-family: 'Aihara';
    src: url('https://cdn.rawgit.com/zainsci/PrintA4/blob/master/fonts/aiharahudemojikaisho3.00-webfont.woff2') format('woff2'),
         url('https://cdn.rawgit.com/zainsci/PrintA4/blob/master/fonts/aiharahudemojikaisho3.00-webfont.woff') format('woff')
    font-weight: normal;
    font-style: normal;
} 